:root {
    --primary: #2175f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

body {
    background-color: #efefef;
}

button {
    cursor: pointer;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow-x: hidden;
}